h1 {

    text-align: center;
    font-size: 3.0em;
}

table {
    margin: 30px auto;
}
td {
    width: 100px;
    height: 100px;
}

.medium-center {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.medium {
    border-left: 2px solid black;
    border-right: 2px solid black;
}